* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(/3334896.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}

nav {
    height: 13vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    background-color: rgba(225, 225, 225, 0.127);
    backdrop-filter: blur(7px);
    border-radius: 60px;
    position: absolute;
    top: 2%;
    

    
}

a {
    text-decoration: none;
    color: aliceblue;
}

.logo {
    font-size: 36px;
    letter-spacing: 2px;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 18px;
}

.menu ul li a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.menu ul li a:hover {
    opacity: 0.5;
    transition: 0.2s;

}

.btn {
    background-color: #3ec4e655;
    border: 1px solid;
    border-radius: 26px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.2S;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400px;
}

.content h3 {
    color: azure;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400px;
    padding: 20px;
 }
